<form method="post" action="{% url 'posts:post_create' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group row my-3 p-3 d-flex flex-column align-items-center">
        <label for="id_text">{{ form.text.label }}<span class="required text-danger">*</span></label>
        <div>{{ form.text }}</div>
        <small id="id_text-help" class="form-text text-muted">{{ form.text.help_text }}</small>
    </div>
    <div class="form-group row my-3 p-3 justify-content-center">
        <label for="id_group">{{ form.group.label }}<span class="required text-danger">*</span></label>
        <select name="group" class="form-control border-secondary" id="id_group">
            {% for group in form.group %}
                {{ group }}
            {% endfor %}
        </select>
        <small id="id_group-help" class="form-text text-muted">{{ form.group.help_text }}</small>
    </div>
    <div class="form-group row my-3 p-3 justify-content-center">
        <label for="id_image">
            {{ form.image.lable }}
        </label>
        {{ form.image }}
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">
            Опубликовать
        </button>
    </div>
</form>
