{% with request.resolver_match.view_name as view_name %}

<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'posts:index' %}">
        <img src="{% static 'img/logo_large.png' %}" width="80" height="50" class="d-inline-block align-top" alt=""/>

      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item {% if view_name == 'about:author' %} active {% endif %}">
                <a class="nav-link" href="{% url 'about:author' %}">Об авторе</a>
            </li>
            <li class="nav-item {% if view_name == 'about:tech' %} active {% endif %}">
                <a class="nav-link" href="{% url 'about:tech' %}">Технологии</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item {% if view_name == 'posts:post_create' %} active {% endif %}">
                <a class="nav-link" href="{% url 'posts:post_create' %}">Новая запись</a>
            </li>
            <li class="nav-item {% if view_name == 'users:password_change' %} active {% endif %}">
                <a class="nav-link" href="{% url 'users:password_change' %}">Изменить пароль</a>
            </li>
            <li class="nav-item {% if view_name == 'users:logout' %} active {% endif %}">
                <a class="nav-link" href="{% url 'users:logout' %}">Выйти</a>
            </li>
            <li class="nav-item {% if view_name == 'posts:profile' %} active {% endif %}">
                <a class="nav-link" href="{% url 'posts:profile' request.user.username %}">Пользователь: {{ user.username }} </a>
            </li>
            {% else %}
            <li class="nav-item {% if view_name == 'users:login' %} active {% endif %}">
                <a class="nav-link" href="{% url 'users:login' %}">Войти</a>
            </li>
            <li class="nav-item {% if view_name == 'users:signup' %} active {% endif %}">
                <a class="nav-link" href="{% url 'users:signup' %}">Регистрация</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endwith %}
