{% load widget_tweaks %}
<form method="post" action="{% url 'posts:add_comment' post.id %}">
    {% csrf_token %}
    <div class="form-group mb-2 d-flex flex-column align-items-center">
        <label for="id_text">{{ form.text.label }}<span class="required text-danger">*</span></label>
        <!--<div class="">{{ form.text }}</div>-->
        {% render_field form.text class+="form-control" placeholder="Текст сообщения" rows="5" cols="80" %}
        <small id="id_text-help" class="form-text text-muted">{{ form.text.help_text }}</small>
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Отправить</button>
    </div>
</form>
