{% load thumbnail %}
<article >
    <ul class="index_element">
    {% if not profile %}
      <li>
          {% if post.author.first_name %}
            Автор: {{ post.author.get_full_name }}
          {% else %} 
            Автор: {{ post.author.username }}
          {% endif %}
          <a href="{% url 'posts:profile' post.author %}">все посты пользователя</a>
      </li>
    {% endif %}
      <li>Дата публикации: {{ post.created|date:"d E Y" }}</li>
    </ul>
      {% thumbnail post.image "960x339" crop="top" upscale=True as im %}
        <img class="card-img my-2" src="{{ im.url }}">
      {% endthumbnail %}
      <p>{{ post.text }}</p>
      <a href="{% url 'posts:post_detail' post.id %}">подробная информация</a>
  </article>
  {% if post.group %}
    Группа: {{ post.group }}
    <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
  {% else %}
    Группа: Отсутствует
  {% endif %}