{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
    {% load cache %}
    {% cache 500 about_author %}
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">О себе:</h5>
                        <p class="card-text">Меня зовут Роман, я начинающий программист на Python.</p>
                        <p class="card-text">Мой гитхаб:
                            <a href='https://github.com/Asterrus'>
                                <img src="{% static 'img/github-original.svg' %}" width="60" height="60" alt="" class="d-inline-block alight-top"/>
                            </a>
                        </p>
                        <p class="card-text"> LinkedIn:
                            <a href='https://linkedin.com/in/dyachuk-roman'>
                                <img src="{% static 'img/linkedin/linkedin-original.svg' %}" width="60" height="60" alt="" class="d-inline-block alight-top"/>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endcache %}
{% endblock content %}