{% extends "base.html" %}
{% block content %}
  <head>
    <title>Об авторе</title>
  </head>
  <body>
    <h1>О себе:</h1>
    <p>Меня зовут Роман, я начинающий программист на Python.</p>
    <p>
      Мой гитхаб:
      <a href='https://github.com/Asterrus'>https://github.com/Asterrus</a>
    </p>
    <p>
      В нем пока мало проектов,
      но мой путь программиста только начинается.
    </p>
    <p>
      Я бы хотел работать разработчиком игр, но язык C++,
      на котором пишут игровые движки, довольно сложен.
      Поэтому я решил,для начала, изучить Python.
    </p>
    <p>
      Мои хобби: Программирование(внезапно),
      Warhammer40000, электронная музыка.
    </p>
  </body>
{% endblock content %}
