{% extends "base.html" %}
{% block title %}Tech{% endblock %}
{% block content %}
    <img src="{% static 'img/stack/python-original.svg' %}" width="100" height="100" alt=""
         class="d-inline-block alight-top"/>
    <img src="{% static 'img/stack/django-plain.svg' %}" width="100" height="100" alt=""
         class="d-inline-block alight-top"/>
    <img src="{% static 'img/stack/fastapi-plain.svg' %}" width="100" height="100" alt=""
         class="d-inline-block alight-top"/>
    <img src="{% static 'img/stack/flask-original.svg' %}" width="100" height="100" alt=""
         class="d-inline-block alight-top"/>
    <img src="{% static 'img/stack/git-original.svg' %}" width="100" height="100" alt=""
         class="d-inline-block alight-top"/>
    <img src="{% static 'img/stack/postgresql-original.svg' %}" width="100" height="100" alt=""
         class="d-inline-block alight-top"/>
    <img src="{% static 'img/stack/mysql-original.svg' %}" width="100" height="100" alt=""
         class="d-inline-block alight-top"/>
    <img src="{% static 'img/stack/html5-original.svg' %}" width="100" height="100" alt=""
         class="d-inline-block alight-top"/>
    <img src="{% static 'img/stack/css3-original.svg' %}" width="100" height="100" alt=""
         class="d-inline-block alight-top"/>
{% endblock content %}
