{% extends "base.html" %}
{% block title %}
    <title>About</title>
{% endblock %}
{% block content %}
    {% load cache %}
    {% cache 500 about_author %}
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">О себе:</h5>
                        <p class="card-text">Меня зовут Роман, я начинающий программист на Python.</p>
                        <p class="card-text"> Мой гитхаб:<a href='https://github.com/Asterrus'>https://github.com/Asterrus</a>
                    </div>
                </div>
            </div>
        </div>
    {% endcache %}
{% endblock content %}