{% with request.resolver_match.view_name as view_name %}
{% if user.is_authenticated %}
<div class="row"> 
  <div class="col-md-12 m-2 d-flex justify-content-center"> 
    <div class="nav-item"> 
      <a class="btn btn-outline-secondary {% if view_name == 'posts:index' %} active {% endif %} mx-2" href="{% url 'posts:index' %}" role="button">Все авторы</a> 
    </div>
    <div class="nav-item"> 
      <a class="btn btn-outline-secondary {% if view_name == 'posts:follow_index' %} active {% endif %} mx-2" href="{% url 'posts:follow_index' %}" role="button">Избранные авторы</a> 
    </div>
  </div> 
</div>
{% endif %}
{% endwith %}

