{% extends "posts/post_base.html" %}

{% block post_title %}{{ title }}{{ author.get_full_name }}{% endblock %}

{% block post_header1 %}
    Все посты пользователя {% if author.first_name %} {{ author.get_full_name }}
    {% else %} {{ author.username }} {% endif %}
{% endblock %}

{% block post_header2 %}
    <h3>Всего постов: {{ author.posts.count }}</h3>
    {% if user.is_authenticated and author != request.user %}
      {% if following %}
      <a class="btn btn-sm btn-danger m-1" href="{% url 'posts:profile_unfollow' author.username %}" role="button">
        Отписаться
      </a>
      {% else %}
      <a class="btn btn-sm btn-primary m-1" href="{% url 'posts:profile_follow' author.username %}" role="button">
        Подписаться {{ author.username }}
      </a>
      {% endif %}
    {% endif %}
{% endblock %}

