{% extends "base.html" %}
{% block content %}
{% with page_obj.0.author as author %}
<title>Профайл пользователя {{ author.get_full_name }}</title>
<div class="mb-5">
    <h1>
      Все посты пользователя
      {% if author.first_name %}
        {{ author.get_full_name }}
      {% else %}
        {{ author.username }}
      {% endif %}
    </h1>
    <h3>Всего постов: {{ author.posts.count }}</h3>
  {% if user.is_authenticated and author != request.user %}
    {% if following %}
      <a
        class="btn btn-lg btn-light"
        href="{% url 'posts:profile_unfollow' author.username %}" role="button"
      >
        Отписаться
      </a>
    {% else %}
        <a
          class="btn btn-lg btn-primary"
          href="{% url 'posts:profile_follow' author.username %}" role="button"
        >
        Подписаться
        {{ author.username }}
        </a>
    {% endif %}
   {% endif %}
    {% for post in page_obj %}
      {% include 'includes/post_card.html' with profile=True %}
      {% if not forloop.last %}<hr/>{% endif %}
    {% endfor %}
    <hr/>
    {% include "includes/paginator.html" %}
  </div>
{% endwith %}
{% endblock content %}

