{% extends "base.html" %}

{% block title %}Yatube{% endblock %}

{% block content %}
    <div class="container py-5">
    <div class="row justify-content-center">
        <div class="card border-secondary m-2">
            <div class="card-header border-secondary d-flex justify-content-center">
                <a href="{% url 'posts:index' %}">На главную</a>
            </div>
            <div class="card-body border-secondary d-flex justify-content-center">
                Хорошего дня!
            </div>
            <div class="card-footer border-secondary d-flex justify-content-center">
                <a href="{% url 'users:login' %}">Авторизоваться</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}