{% extends "base.html" %}
{% block title %}Успешный сброс пароля{% endblock %}
{% block content %}
    <div class="container py-5">
    <div class="row justify-content-center">
        <div class="card border-secondary m-2">
            <div class="card-header border-secondary d-flex justify-content-center">
                Отправлено письмо
            </div>
            <div class="card-body border-secondary d-flex justify-content-center">
                Проверьте свою почту, вам должно прийти письмо со ссылкой для восстановления пароля
            </div>
            <div class="card-footer border-secondary d-flex justify-content-center">
                <a href="{% url 'posts:index' %}">На главную</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}