{% extends "base.html" %}
{% block title %}Пароль успешно изменён{% endblock title %}
{% block content %}
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="card border-secondary m-2">
                <div class="card-header border-secondary d-flex justify-content-center">
                    Восстановление пароля завершено
                </div>
                <div class="card-body border-secondary d-flex justify-content-center">
                    Ваш пароль был сохранен. Используйте его для входа
                </div>
                <div class="card-footer border-secondary d-flex justify-content-center">
                    <a href="{% url 'users:login' %}">Войти</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
