{% extends "base.html" %}
{% block title %}Новый пароль{% endblock %}
{% block content %}
    {% if validlink %}
    {% with card_title='Введите ваш новый пароль' button_text='Изменить пароль' %}
    {% include 'includes/new_card.html' %}
    {% endwith %}
    {% else %}
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="card border-secondary m-2">
                <div class="card-title border-secondary d-flex justify-content-center">
                    Ошибка
                </div>
                <div class="card-footer border-secondary d-flex justify-content-center">
                   <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock content %}
